= form_for @bathroom do |f|
  - if @bathroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bathroom.errors.count, "error")} prohibited this bathroom from being saved:"
      %ul
        - @bathroom.errors.full_messages.each do |msg|
          %li= msg

  .row
    .small-2.column
      %label.text-right.middle{ for: :name }
        = :name
    .small-10.column  
      = f.text_field :name
  .row
    .small-2.column
      %label.text-right.middle{ for: :stalls }
        = :stalls
    .small-10.column
      = f.number_field :stalls, value: @bathroom.stalls.count
  .row
    .small-8.small-centered.column
      = f.submit 'Save', { class: 'button expand' }
      - if(@bathroom.id != nil)
        = link_to 'Cancel', bathroom_path(@bathroom) , { class: 'button secondary' }
      - else
        = link_to 'Cancel', bathrooms_path, { class: 'button secondary'}
