= form_for @bathroom do |f|
  - if @bathroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bathroom.errors.count, "error")} prohibited this bathroom from being saved:"
      %ul
        - @bathroom.errors.full_messages.each do |msg|
          %li= msg

  .row
    .small-4.columns
      %label.text-right.middle{ for: :name }
        = :name
    .small-5.columns.end  
      = f.text_field :name
  .row
    .small-4.columns
      %label.text-right.middle{ for: :token }
        = :token
    .small-5.columns.end
      = f.text_field :token
  .row
    .small-4.columns
      %label.text-right.middle{ for: :stalls }
        = :stalls
    .small-5.columns.end
      = f.number_field :stalls, value: @bathroom.stalls.count
  .row
    .small-12.columns.center
      = f.submit 'Save', { class: 'button expand' }
