%p#notice= notice
%h1.center
  = @bathroom.name

.row.medium-up-4
  - @bathroom.stalls.each do |stall|
    .column
      .center
        - if stall.state == false
          = image_tag "toilet-icon-closed.jpg", height: 175, width:175
        - else
          = image_tag "toilet-icon-open.png", { height: 175, width:175 }
      %h5.center
        = stall.number + 1
      %br

.column
  .row.small-12.small-12.center
    = link_to 'Edit', edit_bathroom_path(@bathroom), { class: 'alert button' }
    = link_to 'Back', bathrooms_path, { class: 'button' }




