.row
  .small-12.columns
    .alert-box.center
      = notice
.row
  .small-12.columns
    %h1.center
      = @bathroom.name

.row.small-up-2.medium-up-3
  - @bathroom.stalls.order('number ASC').each do |stall|
    .column.center
      - border = stall.state == false ?  "vacant-border" : "occupied-border"
      - image = stall.state == false ? "toilet-icon-open.png" : "toilet-icon-closed.jpg"
      = image_tag image, height: 175, width:175, class: border, id:"stall" + (stall.number + 1).to_s
      %h5.center
        = stall.number + 1
.row
  .small-10.small-centered.medium-6.medium-centered.center.column
    = link_to 'Bathrooms', bathrooms_path , { class: 'button' }

:javascript
  let pageType = 'bathroom_show';
