.row
  .small-12.columns  
    .alert-box.center
      = notice
.row
  .small-12.columns
    %h1.center
      = @bathroom.name

.row.small-up-2.medium-up-3
  - @bathroom.stalls.each do |stall|
    .column.center
      - if stall.state == true
        = image_tag "toilet-icon-closed.jpg", height: 175, width:175
      - else
        = image_tag "toilet-icon-open.png",  height: 175, width:175 
      %h5.center
        = stall.number + 1
.row
  .small-10.small-centered.medium-6.medium-centered.center.column
    = link_to 'Edit', edit_bathroom_path(@bathroom), { class: 'secondary button' }
    = link_to 'Bathrooms', bathrooms_path , { class: 'button' }
    = link_to 'Destroy', @bathroom, { method: 'delete', data: { confirm: 'Are you sure?' }, class: 'alert button' }
