%h1 Listing player_ratings

%table
  %thead
    %tr
      %th Player
      %th Season
      %th Skill
      %th Deviation

  %tbody
    - @player_ratings.each do |player_rating|
      %tr
        %td= player_rating.player_id
        %td= player_rating.season_id
        %td= player_rating.skill
        %td= player_rating.deviation

%br

= link_to 'New Player rating', new_player_rating_path
