%h1 Listing player_ratings

%table
  %thead
    %tr
      %th Player
      %th Season
      %th Skill
      %th Deviation
      %th
      %th
      %th

  %tbody
    - @player_ratings.each do |player_rating|
      %tr
        %td= player_rating.player_id
        %td= player_rating.season_id
        %td= player_rating.skill
        %td= player_rating.deviation
        %td= link_to 'Show', player_rating
        %td= link_to 'Edit', edit_player_rating_path(player_rating)
        %td= link_to 'Destroy', player_rating, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player rating', new_player_rating_path
