%p
  #room-id= @room.id
.scoring
  .game-column.center#left
    .progress
      .meter#a_meter &nbsp;
    %h3.sf#team_a_name= team_a_name
    %h2.sf#team_a_status &nbsp;
    %h1.sf#team_a_score.center= @team_a_score
  .game-column.center#middle
    %h3.sf vs
  .game-column.center#right
    .progress
      .meter#b_meter &nbsp;
    %h3.sf#team_b_name= team_b_name
    %h2.sf#team_b_status &nbsp;
    %h1.sf#team_b_score.center= @team_b_score
:javascript
  var pageType = 'view_game';
