#room-id=@id
-avatar_container_box_height='100%'
-player_box_padding='0%'
-default_team_a_avatar='/images/pong_assets/pong_avatar 1 doubles.png'
-default_team_b_avatar='/images/pong_assets/pong_avatar 2 doubles.png'
.center{:style => "position: relative; top: 1%; text-align: center"}

%div{:style => "bottom: 0%; width: 100%; position: absolute; height: 50%; display:flex; justify-content: space-between; padding: 1%;"}
  .left-container{:style => "height: 100%; width: 33%; padding: #{player_box_padding};"}
    .avatar-container{:style => "height: #{avatar_container_box_height}; width: 100%"}
      -#Doubles#
      .picturebox.doubles-picturebox.doubles-player-1.left{:style => "display: none;"}
        %img.player_a_1_img{:src => @player_a_1_url, :style => "height: 100%; width: 100%;"}
        %h3.player-ranking.left.player_a_1_ranking.street-fighter
      .picturebox.doubles-picturebox.doubles-player-2.left{:style => "display: none;"}
        %img.player_a_2_img{:src => @player_a_2_url, :style => "height: 100%; width: 100%;"}
        %h3.player-ranking.left.player_a_2_ranking.street-fighter
      -#Singles#
      .picturebox.singles-picturebox.left{:style => "display: none;"}
        %img.player_a_1_img{:src => @player_a_1_url, :style => "height: 100%; width: 100%;"}
        %h3.player-ranking.left.player_a_1_ranking.street-fighter
      .prediction-container.left.new-game
        %h3.prediction-text#team_a_favored.street-fighter{:style => "color: white;"}
        %img#team_a_star{:style => "display: none;", :src => "/images/pong_assets/favstar.gif"}

  .middle-container{:style => "height: 100%; width: 33%; padding: 2%;"}

    .column.settingsbox{:style => "height: 100%; width: 100%; text-align:center;"}
      %h4.sf Select Play Mode:
      .column.gametype{:style => "position: relative; margin: auto; display: flex; top: 1%;"}
        .sf-button.hoverable#singlesButton{:style => "width: 185px; height: 60px; margin: 20px auto; background-size: 100% 100%;"}
          .sf-label.hoverable SINGLES
        .sf-button.hoverable#doublesButton{:style => "width: 185px; height: 60px; margin: 20px auto; background-size: 100% 100%;"}
          .sf-label.hoverable DOUBLES

      #scan_section{:style => "padding: 2%;"}
        .sf-button#scanButton{:style => "width: 400px; margin: 10px auto; height: 70px; background-size: 100% 100%"}
          .sf-label#scanLabel SCAN PLAYER

        .sf-button.hoverable#clearButton{:style => "margin: 20px auto; background-size: 100% 100%;"}
          .sf-label.hoverable CLEAR PLAYERS
        =form_tag room_game_new_post_path(id: @id), :style => 'margin: 20px' do
          =submit_tag '* START GAME *', id: 'startButton', class: 'sf-button sf-label hoverable', style: "margin: 0 auto; display: inline-block; background-size: 100% 100%"


  .right-container{:style => "height: 100%; width: 33%; padding: #{player_box_padding};"}
    .avatar-container{:style => "height: #{avatar_container_box_height}; width: 100%"}
      -#Doubles#
      .picturebox.doubles-picturebox.doubles-player-1.right{:style => "display: none;"}
        %img.player_b_1_img{:src => @player_b_1_url, :style => "height: 100%; width: 100%;"}
        %h3.player-ranking.right.player_b_1_ranking.street-fighter
      .picturebox.doubles-picturebox.doubles-player-2.right{:style => "display: none;"}
        %img.player_b_2_img{:src => @player_b_2_url, :style => "height: 100%; width: 100%;"}
        %h3.player-ranking.right.player_b_2_ranking.street-fighter
      -#Singles#
      .picturebox.singles-picturebox.right{:style => "display: none;"}
        %img.player_b_1_img{:src => @player_b_1_url, :style => "height: 100%; width: 100%;"}
        %h3.player-ranking.right.player_b_1_ranking.street-fighter
      .prediction-container.right.new-game
        %img#team_b_star{:style => "display: none;", :src => "/images/pong_assets/favstar.gif"}
        %h3.prediction-text#team_b_favored.street-fighter{:style => "color: white;"}
:javascript
  let playerCount = #{@player_count};
  let playerIdHash = JSON.parse('#{@player_ids}');
  let pageType = 'new_game';
  let default_team_a_avatar = '#{default_team_a_avatar}';
  let default_team_b_avatar = '#{default_team_b_avatar}';

