game new full
#room-id=@id
-doubles_player_box_size='65%'
-singles_player_box_size='85%'
-player_box_padding='2%'
-player_box_inset_height='10vh'
-player_box_inset_width='5vw'
.center{:style => "position: relative; top: 1%; text-align: center"}

%div{:style => "bottom: 0%; width: 100%; position: absolute; height: 45em; display:flex; padding: 2%;"}
  .left{:style => "height: 100%; width: 33%; padding: #{player_box_padding};"}
    -#Doubles#
    .picturebox.doubles-picturebox{:style => "display: none; height: #{doubles_player_box_size}; width: #{doubles_player_box_size};"}
      %img.player_a_1_img{:src => @player_a_1_url, :style => "height: 100%; width: 100%;"}
    .picturebox.doubles-picturebox{:style => "display: none; height: #{doubles_player_box_size}; width: #{doubles_player_box_size}; position: relative; left: #{player_box_inset_width}; top: -#{player_box_inset_height};"}
      %img.player_a_2_img{:src => @player_a_2_url, :style => "height: 100%; width: 100%;"}
    -#Singles#
    .picturebox.singles-picturebox{:style => "display: none; height: #{singles_player_box_size}; width: #{singles_player_box_size}; position: relative; top: 10%"}
      %img.player_a_1_img{:src => @player_a_1_url, :style => "height: 100%; width: 100%;"}

  .middle{:style => "height: 100%; width: 33%; padding: 2%;"}

    .column.settingsbox{:style => "height: 100%; width: 100%; text-align:center;"}
      %h4.sf Select Play Mode:
      .column.gametype{:style => "position: relative; margin: auto; display: flex; top: 1%;"}
        .sf-button#singlesButton{:style => "width: 185px; height: 60px; margin: 20px auto; background-size: 100% 100%;"}
          .sf-label SINGLES
        .sf-button#doublesButton{:style => "width: 185px; height: 60px; margin: 20px auto; background-size: 100% 100%;"}
          .sf-label DOUBLES

      #scan_section{:style => "padding: 2%;"}
        .sf-button#scan_player1{:style => "width: 400px; margin: 10px auto; height: 70px; background-size: 100% 100%"}
          .sf-label SCAN PLAYER

        =form_tag room_game_players_clear_post_path(id: @id), :style => 'margin: 20px' do
          =submit_tag 'CLEAR PLAYERS', id: 'clearButton', class: 'sf-button sf-label', style: "margin: 0 auto; display: inline-block; background-size: 100% 100%"
        =form_tag room_game_new_post_path(id: @id), :style => 'margin: 20px' do
          =submit_tag '* START GAME *', id: 'startButton', class: 'sf-button sf-label', style: "margin: 0 auto; display: inline-block; background-size: 100% 100%"


  .right{:style => "height: 100%; width: 33%; padding: #{player_box_padding};"}
    -#Doubles#
    .picturebox.doubles-picturebox{:style => "display: none; height: #{doubles_player_box_size}; width: #{doubles_player_box_size}; float: right;"}
      %img.player_b_1_img{:src => @player_b_1_url, :style => "height: 100%; width: 100%;"}
    .picturebox.doubles-picturebox{:style => "display: none; height: #{doubles_player_box_size}; width: #{doubles_player_box_size}; float: right; position: relative; left: -#{player_box_inset_width}; top: -#{player_box_inset_height};"}
      %img.player_b_2_img{:src => @player_b_2_url, :style => "height: 100%; width: 100%;"}
    -#Singles#
    .picturebox.singles-picturebox{:style => "display: none; height: #{singles_player_box_size}; width: #{singles_player_box_size}; float: right; position: relative; top: 10%"}
      %img.player_b_1_img{:src => @player_b_1_url, :style => "height: 100%; width: 100%;"}
:javascript
    var playerCount;
    $(document).ready( function() {
      console.log('game_newfull JS init');

      playerCount = #{@player_count};
      displayForPlayerCount(playerCount);
    } );

    function updatePlayerCount(count, selectedElement, unselectedElement) {
      $.post("#{ j(room_game_player_count_post_path(id: @id)) }", { player_count: count })
      .done(function() {
        console.log("Player mode change to " + count + " succeeded");
        playerCount = count;
        displayForPlayerCount(playerCount);
      })
      .fail(function() {
        console.log("Player mode change POST failed");
      })
    }

    function displayForPlayerCount(count) {
      if (count == 2) {
        $(".doubles-picturebox").hide();
        $(".singles-picturebox").show();
      } else if (count == 4) {
        $(".doubles-picturebox").show();
        $(".singles-picturebox").hide();
      } else {
        console.log("Invalid player count " + count + " passed to displayForPlayerCount");
      }
    }

    $("#singlesButton").click(function () {
      updatePlayerCount(2, $("#singlesButton"), $("#doublesButton"));
    })
    $("#doublesButton").click(function () {
      updatePlayerCount(4, $("#doublesButton"), $("#singlesButton"));
    })
